// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2020-2021 Microchip Technology Inc */

/dts-v1/;

#include "mpfs.dtsi"
#include "scai-dpu-fabric.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/* Clock frequency (in Hz) of the rtcclk */
#define RTCCLK_FREQ		1000000

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	model = "TII SpacecraftAI SAFAR/EMA Data Processing Unit (DPU)";
	compatible = "microchip,mpfs-icicle-reference-rtlv2210", "microchip,mpfs-icicle-kit",
		     "microchip,mpfs";

	soc {
		dma-ranges;
	};

	aliases {
		ethernet0 = &mac0;
		serial0 = &mmuart0;
		serial1 = &mmuart1;
		serial2 = &mmuart2;
		serial3 = &mmuart3;
	};

	chosen {
		stdout-path = "serial1:921600n8";
	};

	cpus {
		timebase-frequency = <RTCCLK_FREQ>;
	};

	ddr_cached_low: memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x20000000>;
	};

	ddr_non_cached_low: memory@c0000000 {
		device_type = "memory";
		reg = <0x0 0xc0000000 0x0 0x04000000>;
	};

	ddr_cached_high: memory@1000000000 {
		device_type = "memory";
		reg = <0x10 0x00000000 0x0 0x4c000000>;
	};

	ddr_non_cached_high: memory@1400000000 {
		device_type = "memory";
		reg = <0x14 0x00000000 0x0 0x10000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		dma_non_cached_low: non-cached-low-buffer {
			compatible = "shared-dma-pool";
			size = <0x0 0x1000000>;
			no-map;
			alloc-ranges = <0x0 0xc3000000 0x0 0x1000000>;
		};

		dma_non_cached_high: non-cached-high-buffer {
			compatible = "shared-dma-pool";
			size = <0x0 0x10000000>;
			no-map;
			linux,dma-default;
			alloc-ranges = <0x14 0x00000000 0x0 0x10000000>;
		};

		shm_uio1: shm@0xc0000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0xc0000000 0x0 0x800000>;
			no-map;
		};

		shm_uio2: shm@0xc0800000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0xc0800000 0x0 0x800000>;
			no-map;
		};

		shm_uio3: shm@0xc1000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0xc1000000 0x0 0x800000>;
			no-map;
		};

		shm_uio4: shm@0xc1800000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0xc1800000 0x0 0x800000>;
			no-map;
		};

		hss_buffer: hss-buffer@c2000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0xc2000000 0x0 0x1000000>;
			no-map;
		};

    /*
		fabricbuf0ddrc: buffer@88000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x88000000 0x0 0x2000000>;
			no-map;
		};

		fabricbuf1ddrnc: buffer@c8000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0xc8000000 0x0 0x2000000>;
			no-map;
		};

		fabricbuf2ddrncwcb: buffer@d8000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0xd8000000 0x0 0x2000000>;
			no-map;
		};
    */
	};

	uio1 {
		compatible = "generic-uio";
		memory-region = <&shm_uio1>;
		status = "okay";
	};

	uio2 {
		compatible = "generic-uio";
		memory-region = <&shm_uio2>;
		status = "okay";
	};

	uio3 {
		compatible = "generic-uio";
		memory-region = <&shm_uio3>;
		status = "okay";
	};

	uio4 {
		compatible = "generic-uio";
		memory-region = <&shm_uio4>;
		status = "okay";
	};

	scai_tm_rproc@0 {
		compatible = "tii,scai-tm-rproc";
		memory-region = <&hss_buffer>;
		status = "okay";
	};

  /*
	udmabuf0 {
		compatible = "ikwzm,u-dma-buf";
		device-name = "udmabuf-ddr-c0";
		minor-number = <0>;
		size = <0x0 0x2000000>;
		memory-region = <&fabricbuf0ddrc>;
		sync-mode = <3>;
	};

	udmabuf1 {
		compatible = "ikwzm,u-dma-buf";
		device-name = "udmabuf-ddr-nc0";
		minor-number = <1>;
		size = <0x0 0x2000000>;
		memory-region = <&fabricbuf1ddrnc>;
		sync-mode = <3>;
	};

	udmabuf2 {
		compatible = "ikwzm,u-dma-buf";
		device-name = "udmabuf-ddr-nc-wcb0";
		minor-number = <2>;
		size = <0x0 0x2000000>;
		memory-region = <&fabricbuf2ddrncwcb>;
		sync-mode = <3>;
	};
  */
};

/*
 * The label can0 represents CAN_0 in the MSS configurator which is CAN2
 * in the icicle kit schematic and on the icicle kit the can0 pins are
 * routed to J27 header.
 * The label can1 represents CAN_1 in the MSS configurator which is CAN1
 * in the icicle kit schematic and on the icicle kit the can1 pins are
 * routed to J25 header.
 */
/*
&can0 {
	status = "disabled";
};
*/

/*
&can1 {
	status = "disabled";
};
*/

/*
&core_pwm0 {
	status = "disabled";
};
*/

/*
&fpgadma {
	status = "disabled";
};
*/

/*
&fpgalsram {
	status = "disabled";
};
*/

&gpio2 {
	status = "okay";
};

/*
&i2c0 {
	status = "disabled";
};
*/

/*
&i2c1 {
	status = "disabled";

	power-monitor@10 {
		compatible = "microchip,pac1934";
		reg = <0x10>;

		#address-cells = <1>;
		#size-cells = <0>;

		channel@1 {
			reg = <0x1>;
			shunt-resistor-micro-ohms = <10000>;
			label = "VDDREG";
		};

		channel@2 {
			reg = <0x2>;
			shunt-resistor-micro-ohms = <10000>;
			label = "VDDA25";
		};

		channel@3 {
			reg = <0x3>;
			shunt-resistor-micro-ohms = <10000>;
			label = "VDD25";
		};

		channel@4 {
			reg = <0x4>;
			shunt-resistor-micro-ohms = <10000>;
			label = "VDDA_REG";
		};
	};
};
*/

/*
&i2c2 {
	status = "disabled";
};
*/

&mac0 {
	dma-noncoherent;
	status = "okay";
	phy-mode = "mii";
	phy-handle = <&phy0>;

	phy0: ethernet-phy@0 {
		reg = <0>;
	};
};

/*
&mac1 {
	dma-noncoherent;
	status = "disabled";
	phy-mode = "sgmii";
	phy-handle = <&phy9>;

	phy9: ethernet-phy@9 {
		reg = <9>;
	};

	phy8: ethernet-phy@8 {
		reg = <8>;
	};
};
*/


&mbox {
	status = "okay";
};

/*
&mmc {
	dma-noncoherent;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	status = "disabled";
};
*/

&mmuart0 {
	status = "okay";
	current-speed = <921600>;
};

&mmuart1 {
	status = "okay";
	current-speed = <921600>;
};

&mmuart2 {
	status = "okay";
	current-speed = <921600>;
};

&mmuart3 {
	status = "okay";
	current-speed = <921600>;
};

/*
&mmuart4 {
	status = "disabled";
};
*/

/*
&pcie {
	status = "disabled";
};
*/

&qspi {
	status = "okay";
  flash@0 {
    compatible = "spi-nand";
    reg = <0>;
    spi-max-frequency = <12500000>;
    spi-tx-bus-width = <4>;
    spi-rx-bus-width = <4>;

    partitions {
      compatible = "fixed-partitions";
      #address-cells = <1>;
      #size-cells = <1>;

      partition@0 {
        label = "payload_a";
        reg = <0 0x00200000>;
      };
      partition@200000 {
        label = "ubi_a";
        reg = <0x00200000 0x07700000>;
      };
    };
  };
};

&fabric_qspi0 {
	status = "okay";
	num-cs = <1>;

	flash1: flash@1 {
		compatible = "spi-nand";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <12500000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "payload_b";
				reg = <0 0x00200000>;
			};
			partition@200000 {
				label = "ubi_b";
				reg = <0x00200000 0x07700000>;
			};
		};
	};
};

&fabric_raw_nand0 {
	status = "okay";
};

&fabric_raw_nand1 {
	status = "okay";
};

&refclk {
	clock-frequency = <100000000>;
};

/*
&refclk_ccc {
	clock-frequency = <50000000>;
};
*/

&rtc {
	status = "okay";
};

/*
&spi0 {
	status = "disabled";
};
*/

/*
&spi1 {
	status = "disabled";
};
*/

&syscontroller {
	status = "okay";
};

//&syscontroller_qspi {
	/*
	 * The flash *is* there, but Icicle kits that have engineering sample
	 * silicon where access to this flash to non-functional. The system
	 * controller itself can actually access it, but the MSS cannot write
	 * an image there. Instantiating a coreQSPI in the fabric & connecting
	 * it to the flash instead should work though. Pre-production or later
	 * silicon does not have this issue.
	 */
//	status = "disabled";

//	sys_ctrl_flash: flash@0 { // MT25QL01GBBB8ESF-0SIT
//		compatible = "jedec,spi-nor";
//		#address-cells = <1>;
//		#size-cells = <1>;
//		spi-max-frequency = <20000000>;
//		spi-rx-bus-width = <1>;
//		reg = <0>;
//	};
//};

/*
&usb {
	dma-noncoherent;
	status = "disabled";
	dr_mode = "otg";
};
*/
